version: "3.8"

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - redis
    environment:
      - account=root
      - password=123456

  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: go_test
    ports:
        - "3306:3306"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
